html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #212121; /* Set the background color here as well */
  overflow: hidden; /* Prevent scrollbars */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 960px;
  margin: auto;
  background-color: blue;
}
