@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #121212;
  overflow: hidden; /* Prevent scrollbars */
  color: #b3b3b3;
}
/* 
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 960px;
  margin: auto;
  background-color: #212121;
} */
