/* CSS reset to remove default margins and padding */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Set the background color here as well */
  overflow: hidden; /* Prevent scrollbars */
}

